{% extends "base.html" %}

{% block body %}

<style>
#brand {
  transition: transform .7s ease-in-out;
}
#brand:hover {
  transform: rotate(360deg);
}
</style>


<nav class="nav">
  <div class="nav-left">
    <a id="brand" class="brand" href="#">⚡️Perf8⚡️</a>
    <div class="tabs">
    <a class="active tab" id="tab-summary" onclick="openTab('summary')">Summary</a>
    {% for report in reports %}
    {% if report['type'] != 'artifact' %}
    <a class="tab" id="tab-{{report['id']}}" onclick='openTab("{{report['id']}}")'>{{report['label']}}</a>
    {% endif %}
    {% endfor %}
    </div>
  </div>
</nav>

<script>
function openTab(tabName) {
  var i;
  var x = document.getElementsByClassName("container");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }

  document.getElementById(tabName).style.display = "block";
  document.getElementById(tabName).style.height = "100%";

  var x = document.getElementsByClassName("active tab");
  for (i = 0; i < x.length; i++) {
    x[i].className = "tab";
  }

  document.getElementById('tab-'+tabName).className = 'active tab';
}
</script>


<div id="summary" class="container" role="document">
  <header role="banner">
    <h1 class="pull-right" style="margin: 0;">
    <h1>Summary</h1>
    <div class="clearfix"></div>
  </header>

  <h3>
    System info
  </h3>
  <ul>
    {% for info, value in system_info.items() %}
    <li><span class="text-grey">{{info}}</span> → {{value}}</li>
    {% endfor %}
  </ul>

  <h3>
    Script executed
  </h3>
  <pre>{{" ".join(args.command)}}</pre>
  <h3>
    Plugins used
  </h3>
  <ul>
  {% for plugin in plugins %}
  <li><span class="text-grey">{{plugin.name}}</span> → {{plugin.description}}</li>
  {% endfor %}
  </ul>

  <h3>
    Artifacts
  </h3>
  <ul>
  {% for report in reports %}
  {% if report['type'] == 'artifact' %}
    <li>
    <a href="{{report['file']}}">{{report['label']}} 🔗</a>
    </li>
  {% endif %}
  {% endfor %}
  </ul>

</div>

{% for report in reports %}

{% if report['type'] == 'image' %}
<div id="{{report['id']}}" class="container" role="document" style="display:none">
    <img src="data:{{report['mimetype']}};base64,{{report['image']}}">
</div>
{% endif %}

{% if report['type'] == 'html' %}
<div id="{{report['id']}}" class="container" role="document" style="display:none">
    <iframe src="data:text/html;base64,{{report['html_b64']}}" width="100%" height="100%"></iframe>
</div>
{% endif %}

{% endfor %}


{% endblock body %}
