{% extends "base.html" %}

{% block body %}
<div id="top" class="container" role="document">
  <header role="banner">
    <h1 class="pull-right" style="margin: 0;">
    <h1>⚡️Perf8⚡️</h1>
    <div class="clearfix"></div>
    <p><small><i>
        v{{version}}. Created at {{created_at}}.
     </i></small></p>
  </header>

  <h2><a href="summary.html" target='content'>Summary</a></h2>

  <h2>Reports</h2>
  <ul>
    {% for filename, label in reports %}
      <li><a href='{{filename}}' target='content'>{{label}}</a></li>
    {% endfor %}
  </ul>
  <h2>Artifacts</h2>
  <ul>
    {% for filename, label in artifacts %}
      <li><a href='{{filename}}' target='_blank' download='{{filename}}'>{{label}}</a></li>
    {% endfor %}
  </ul>
</div>
{% endblock body %}

