<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>Perf8 - {{ args.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/chota@latest">
</head>
<body>
  <div id="top" class="container" role="document">
    <header role="banner">
      <h1 class="pull-right" style="margin: 0;">
      <h1>Perf8</h1>
      <div class="clearfix"></div>
      <p><small><i>
          v{{version}}. Created at {{created_at}}.
       </i></small></p>
    </header>

    <a href="summary.html" target='content'>Summary</a>

    <h2>Reports</h2>
    <ul>
      {{reports}}
    </ul>
    <h2>Artifacts</h2>
    <ul>
      {{artifacts}}
    </ul>
  </div>
</body>
</html>
