include CHANGELOG.rst
include README.rst
include LICENSE
include CHANGES.rst
include requirements.txt
include tests-requirements.txt
include tox.ini
include Makefile
include NOTICE.txt
recursive-include perf8/templates *.tmpl
recursive-include perf8/speedscope *.*
